# Porta da aplicação Nest.js
PORT=3000

# Configurações da Evolution API
# Se estiver rodando pelo docker-compose incluído no projeto, deixe http://localhost:8080
EVOLUTION_API_URL=http://localhost:8080
EVOLUTION_API_KEY=429683C4C977415CAAFCCE10F7D57E11
EVOLUTION_INSTANCE_NAME=water-bot

# Configurações do Lembrete de Água
# 1. Conecte seu WhatsApp em http://localhost:3000/evolution/qrcode
# 2. Acesse http://localhost:3000/evolution/groups para ver a lista de grupos e copie o "id"
# Exemplo de JID: 120363023456789012@g.us
WATER_TARGET_GROUP_JID=

# Expressão Cron para o envio dos alertas:
# '0 8-20/1 * * *' = De 1 em 1 hora entre 08:00 e 20:00 todos os dias
# '0 */2 * * *'    = A cada 2 horas
# '*/30 8-20 * * *'= A cada 30 minutos entre 08:00 e 20:00
WATER_REMINDER_CRON=0 8-20/1 * * *

# Ativação do agendador automático (true / false)
WATER_REMINDER_ENABLED=true
