# Compiled output
dist/
build/
*.tsbuildinfo

# Dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
!.env.example

# OS and Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Docker volumes / local data
evolution_instances/
